

[class^="hg3-i-"], [class*=" hg3-i-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hg3-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.epp-top-ad {
    position: fixed;
    width: 100%;
    padding:15px;
    z-index: 9999;
    top: 60px;
    background: #dcf2f9;
    text-align:center;
    box-shadow: 3px 1px 3px #ccc;
}

.hg3-i-times-circle:before {
    content: "\f057";
}
.hg3-i-close:before {
    content: "\f00d";
}
.hg3-i-bars:before {
    content: "\f0c9";
}
.hg3-i-hamburger-icon:before {
    content: "\f0c9";
}
.hg3-i-search:before {
    content: "\f002";
}
.hg3-i-star-full:before {
    content: "\f005";
}
.hg3-i-star-half:before {
    content: "\f089";
}
.hg3-i-map-marker:before {
    content: "\f041";
}
.hg3-i-map-marker:before {
    content: "\f041";
}

.hg3-i-stethoscope:before {
    content: "\f0f1";
}
.practice-name{
    text-align: center;
    background-color: #fff;
    padding-top: 166px;
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc;
}
@import './CommonBundleRoot';


#content-section {
    
    .practice-name{
        padding:15px;
        margin-top:180px;
    }
    .content-left{
        margin-top:15px;

        .componentWrap{
            #component-hgOfficeInfo{
                width:76%;
                padding-top: 0;

                .leaflet-right{
                    left:0;

                    .leaflet-control{
                        float:left;
                    }
                }
            }
            #hospital-tabs{
                padding-right:10px;
            }
            .hg3-office-map-display{
                box-shadow:none;
            }


        }
        .hg3-testimonial-content{
            h2{
                display:none;
            }
        }
    }
}



    #rightTop{
        width:100%;
        max-width: 1365px;
        margin: auto;
        position:absolute;
        top:298px;
        left: 0;
        right: 0;
       
        #div-gpt-ad-aboveright1{
            margin-right: 25px;
            border-left: 15px solid #fff;
            float:right;
            background:#fff;
           
        }
    }

