body {

    #breadcrumb {
        text-align: center;

        a {
            border: 1px solid #9dc8ce;
            padding: 15px;
            background: #fff;
            color: #649aa6;
            font-weight: bold;
            margin-top: 15px;
        }
    }
}

